body {
  background: linear-gradient(135deg, #ffd6e8, #fce4ec);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.card {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 350px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.icon {
  width: 80px;
  margin-bottom: 10px;
}

h1 {
  font-size: 22px;
  margin-bottom: 25px;
}

.btns {
  position: relative;
  height: 60px;
}

button {
  padding: 12px 28px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.yes {
  background: #ff4d88;
  color: white;
  font-size: 18px;
}

.no {
  background: #eee;
  position: absolute;
  left: 160px;
}

.small {
  margin-top: 20px;
  font-size: 13px;
  color: #777;
}

.gif {
  width: 250px;
  margin-top: 20px;
}